.parent{
    -fx-background-color: transparent;
}
.pane{
   -fx-background-image: url(../resources/registration_background.png); 
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}
.white-pane{
    -fx-background-color: white;
}
.blue-panel{
    -fx-background-color: #151928;
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
}
.tf{
    -fx-background-color: transparent;    
}
.blue-btn{
    -fx-background-color: #2196f3;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.registration_vbox{
   -fx-background-image: url(../resources/register_panel_background.png); 
   -fx-background-size: contain;
}
.title {
  -fx-font-size: 36px;
  -fx-font-style: italic;
}

.normal_text {
    -fx-font-size: 14px;
    -fx-font-weight: 900;
}

.error_text {
    -fx-fill: red;
}

.tennis_field_btn{
    //-fx-background-color: transparent;
}

.tennis_field_btn:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
